<!DOCTYPE HTML>
<html>
	<head>
		<title>Covalent Transformer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/controller.js"></script>	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/covalent.css" />
	</head>
<body>
	<div class="container-fluid" ng-app="app" ng-controller="uploadController">
			<div class="row">
				<div class="loading-bar" ng-if="showLoading" >
					<div class="element-center element-vertical-center align-center">
						<span class="glyphicon glyphicon-time loading-time"></span>
						<h3>Please Wait</h3>
					</div>
				</div>
				
				<div class="align-center">
					<img src="/img/covalent_logo.jpg"/>
					<p class="sub-heading">Automated Metadata Correction Tool</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 align-center formgroup-space">

					<div class="form-group element-center">
						<input class="btn btn-primary" type="file"
									onchange="angular.element(this).scope().setFile(this)" />
					</div>
					<div class="form-group">
						<br></br><br></br>
					</div>
					<div class="form-group">
					<input class="btn btn-success" type="button" value="Upload"
										ng-click="uploadFile()" />&nbsp;&nbsp;
					<input class=" btn btn-success" type="button"
										value="Refresh List" ng-click="refreshList()" />
										</div>
					<div ng-show="isProgresBarVisible" class="form-group">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active"
								role="progressbar" aria-valuenow="{{progress}}"
								aria-valuemin="0" aria-valuemax="100" style="{{progressStyle}}">
							</div>		
						</div>
						{{progress}}%
					</div>
					
					<div ng-show="showSuccess" class="alert alert-success alert-dismissable">
					    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					    <strong>Success!</strong> File Processed successfully. Please check you configured output folder.
  					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
					<table class="table table-striped">
						<tr>
							<th>#</th>
							<th>Input File URL</th>
							<th>Output File URL</th>
							<th>Status</th>
							<th class="align-center">Delete All&nbsp;&nbsp;<span ng-click="deleteAllFiles()" class="glyphicon glyphicon-trash"></span></th>
						</tr>
						<tr ng-repeat="eachFile in filesList.data">
							<td>{{$index}}</td>
							<td><a href="{{eachFile.fileUrl}}">{{eachFile.fileName}}</a></td>
							<td><a href="{{eachFile.fixedFileUrl}}">{{eachFile.fixedFileName}}</a></td>
							<td>{{eachFile.fixedFileStatus}}</td>
							<td class="align-center"><span ng-click="deleteFile(eachFile.id)" class="glyphicon glyphicon-trash"></span></td>
						</tr>
					</table>
				</div>
			</div>

	</div>
</body>
</html>