<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Spring Boot - Upload Status</h1>
	<!--<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>


		<table>
			<tr th:each="eachFileList : ${fileList}">
				<td th:text="${eachFileList.fileName}">File Name</td>
				<td th:text="${eachFileList.fileUrl}">File Url</td>
				<td th:text="${eachFileList.fixedFileName}">Fixed File Url</td>
				<td th:text="${eachFileList.fixedFileUrl}">Fixed File Url</td>
				<td th:text="${eachFileList.fixedFileStatus}">Fixed File Status</td>
			</tr>
		</table>-->

</body>
</html>